<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.twio142.swift</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>1258DA14-4ABD-4A02-B83E-284FF8C43AB5</key>
		<array/>
		<key>1D0B0A92-B043-4A71-A41D-C9DE241FC008</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8BA1AE11-A238-474A-B982-DA9E4742D236</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>219C180E-E768-4C55-BEB3-04F80412032A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8BA1AE11-A238-474A-B982-DA9E4742D236</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>25DF9855-B87D-4CE7-A3EF-794A57E3FBD3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FDF986A8-3F3C-43A3-9E4D-41EBDB491C97</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C9E3C1BC-05A1-4F7B-9D83-3E39CACDD328</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Force quit</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2AF0064B-35F9-4A1B-A05A-70DC5EBCDF74</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9AB03DAC-B3CB-43A0-A22E-FAEAD0F03B15</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>37EAB5EB-4D7A-41B6-8EDF-1E9ABAE1165D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8BA1AE11-A238-474A-B982-DA9E4742D236</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4366B509-0903-4E06-928F-8A0F3FC02DFF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>35E6D898-5B6E-4210-BECC-D6DE2CDB0F68</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5C1337AD-2107-4886-A96F-B9A992C00EA2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FDF986A8-3F3C-43A3-9E4D-41EBDB491C97</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5C2AC50F-1061-41A0-A6C5-662AA743365E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5C1337AD-2107-4886-A96F-B9A992C00EA2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6A0D4B15-67A1-4A70-8CF1-0511F864B8B4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4366B509-0903-4E06-928F-8A0F3FC02DFF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7F7C2A46-F54A-46DE-8CF3-E17DDB1F3998</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Quit application</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1D0B0A92-B043-4A71-A41D-C9DE241FC008</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Hide application</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>37EAB5EB-4D7A-41B6-8EDF-1E9ABAE1165D</string>
				<key>modifiers</key>
				<integer>1572864</integer>
				<key>modifiersubtext</key>
				<string>Force quit application</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7F7C2A46-F54A-46DE-8CF3-E17DDB1F3998</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8BA1AE11-A238-474A-B982-DA9E4742D236</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8C4FEA1B-48E9-41E1-8913-45DADE62C881</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E212A519-ADAC-4623-9791-DCE2B0B9858E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>98B6500D-C70C-4089-9C82-5DE1381AFBA1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7F7C2A46-F54A-46DE-8CF3-E17DDB1F3998</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Quit application</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1D0B0A92-B043-4A71-A41D-C9DE241FC008</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Hide application</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>37EAB5EB-4D7A-41B6-8EDF-1E9ABAE1165D</string>
				<key>modifiers</key>
				<integer>1572864</integer>
				<key>modifiersubtext</key>
				<string>Force quit application</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>219C180E-E768-4C55-BEB3-04F80412032A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9AB03DAC-B3CB-43A0-A22E-FAEAD0F03B15</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E212A519-ADAC-4623-9791-DCE2B0B9858E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BA8766BA-DC73-4580-AB23-69727A05FB88</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9AB03DAC-B3CB-43A0-A22E-FAEAD0F03B15</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BBE27144-1C88-4DB4-BCF3-B4E7CCE3A14B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9AB03DAC-B3CB-43A0-A22E-FAEAD0F03B15</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>2AF0064B-35F9-4A1B-A05A-70DC5EBCDF74</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Close window</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>BA8766BA-DC73-4580-AB23-69727A05FB88</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Minimize window</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C9E3C1BC-05A1-4F7B-9D83-3E39CACDD328</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FDF986A8-3F3C-43A3-9E4D-41EBDB491C97</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CD59088E-E4A8-4F80-8E23-A9E18AAB1FF5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1258DA14-4ABD-4A02-B83E-284FF8C43AB5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>11839846-50EA-49D1-90D3-E6ED8B0187B1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DE26058B-66D8-464C-B116-3C36FC69D3FA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9AB03DAC-B3CB-43A0-A22E-FAEAD0F03B15</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>8C4FEA1B-48E9-41E1-8913-45DADE62C881</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Close tab</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>CD59088E-E4A8-4F80-8E23-A9E18AAB1FF5</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Save to link copier</string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>F5F0C463-C31A-4805-BD9E-1F4C3745FB34</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DE26058B-66D8-464C-B116-3C36FC69D3FA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>twio142</string>
	<key>description</key>
	<string>Switch between windows &amp; tabs on the same desktop</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Swift Window Switcher</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>2</integer>
				<key>filetypes</key>
				<array>
					<string>com.apple.application-bundle</string>
				</array>
				<key>name</key>
				<string>Quit Applications</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>25DF9855-B87D-4CE7-A3EF-794A57E3FBD3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>[ -z $bundleId ] &amp;&amp; exit 1

[[ -z $windowTitle &amp;&amp; -z $windowId ]] &amp;&amp; {open -b $bundleId; quit 0}

[ $bundleId = com.google.Chrome ] &amp;&amp; windowTitle+=' - Google Chrome'

hs -A -c "hs.application.applicationsForBundleID('$bundleId')[1]:getWindow(${windowId:-_cli._args[6]}):${mod:-raise}()" -- $windowTitle

[ -z $tabIndex ] || osascript -l JavaScript -e "
let win = Application('$bundleId').windows[0];
switch ('$bundleId') {
	case 'com.apple.Safari':
		win.currentTab = win.tabs[$tabIndex];
		break;
	case 'com.google.Chrome':
		win.activeTabIndex = $tabIndex + 1;
		break;
	case 'com.googlecode.iterm2':
	case 'com.googlecode.iterm':
		win.tabs[$tabIndex].select();
		break;
}"

[ -z $mod ] &amp;&amp; open -b $bundleId</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9AB03DAC-B3CB-43A0-A22E-FAEAD0F03B15</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>for app in $@; do
	id=$(defaults read $app/Contents/Info.plist CFBundleIdentifier)
	hs -A -c "hs.application.get('$id'):${mod:-kill}()"
done</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FDF986A8-3F3C-43A3-9E4D-41EBDB491C97</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>126</integer>
				<key>keyword</key>
				<string>``</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./EnumWindows --win=</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>externalid</key>
				<string>windows</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>BBE27144-1C88-4DB4-BCF3-B4E7CCE3A14B</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>mod</key>
					<string>close</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>2AF0064B-35F9-4A1B-A05A-70DC5EBCDF74</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>'{query}', {variables}</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>E212A519-ADAC-4623-9791-DCE2B0B9858E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>mod</key>
					<string>minimize</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>BA8766BA-DC73-4580-AB23-69727A05FB88</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>mod</key>
					<string>kill9</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>C9E3C1BC-05A1-4F7B-9D83-3E39CACDD328</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>262144</integer>
				<key>hotstring</key>
				<string>A</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.google.Chrome</string>
					<string>com.apple.Safari</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>F5F0C463-C31A-4805-BD9E-1F4C3745FB34</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>2</integer>
				<key>filetypes</key>
				<array>
					<string>com.apple.application-bundle</string>
				</array>
				<key>name</key>
				<string>Hide Applications</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>5C2AC50F-1061-41A0-A6C5-662AA743365E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>ObjC.import('stdlib');
run = argv =&gt; {
	let bundleId, windowTitle, tabIndex;
	try {
		bundleId = $.getenv('bundleId');
		windowTitle = $.getenv('windowTitle');
		tabIndex = Number($.getenv('tabIndex'));
	} catch {}
	if (!bundleId || !windowTitle || tabIndex === undefined) return;
	const tab = Application(bundleId).windows[windowTitle].tabs[tabIndex];
	tab.close();
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8C4FEA1B-48E9-41E1-8913-45DADE62C881</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>```</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./EnumWindows --tab=</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string>~/Desktop/EnumWindows/EnumWindows/EnumWindows</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>DE26058B-66D8-464C-B116-3C36FC69D3FA</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>mod</key>
					<string>hide</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>5C1337AD-2107-4886-A96F-B9A992C00EA2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>`</string>
				<key>outputprefix</key>
				<string></string>
				<key>outputtype</key>
				<integer>1</integer>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.runningappsfilter</string>
			<key>uid</key>
			<string>6A0D4B15-67A1-4A70-8CF1-0511F864B8B4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array/>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>35E6D898-5B6E-4210-BECC-D6DE2CDB0F68</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>add_to_lc</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>com.nyako520.link</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>1258DA14-4ABD-4A02-B83E-284FF8C43AB5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>↓</string>
				<key>keycode</key>
				<integer>125</integer>
				<key>keymod</key>
				<integer>10485760</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>11839846-50EA-49D1-90D3-E6ED8B0187B1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>- [{var:tabTitle}]({query})</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>prefix</key>
					<string>Browser Tabs</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>CD59088E-E4A8-4F80-8E23-A9E18AAB1FF5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>json</key>
				<string>{
  "alfredworkflow" : {
    "config" : {
      "paths" : [
		"{query}"
      ],
      "toggle" : false
    },
    "variables" : {
    }
  }
}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.json</string>
			<key>uid</key>
			<string>4366B509-0903-4E06-928F-8A0F3FC02DFF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>cmd</key>
					<string>kill</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>7F7C2A46-F54A-46DE-8CF3-E17DDB1F3998</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>cmd</key>
					<string>hide</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>1D0B0A92-B043-4A71-A41D-C9DE241FC008</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>cmd</key>
					<string>kill9</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>37EAB5EB-4D7A-41B6-8EDF-1E9ABAE1165D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>ObjC.import('AppKit')
ObjC.import('stdlib')

function run(argv) {
	let a = Application.currentApplication();
	a.includeStandardAdditions = true;
	let items = ObjC.unwrap($.NSWorkspace.sharedWorkspace.runningApplications)
		.filter(app =&gt; app.activationPolicy == $.NSApplicationActivationPolicyRegular &amp;&amp; !ObjC.unwrap(app.backgroundOnly))
		.map(app =&gt; {
			let path = ObjC.unwrap(app.bundleURL.fileSystemRepresentation);
			return {
				title: ObjC.unwrap(app.localizedName),
				subtitle: path,
				arg: path,
				variables: {pid: ObjC.unwrap(app.processIdentifier)},
				match: matchStr(path) || ObjC.unwrap(app.localizedName),
				icon: { path, type: 'fileicon' },
				type: 'file'
			}
		});

	function matchStr(filePath) {
		filePath = filePath.replace(/["\\]/g, '\\$&amp;');
		let db = $.getenv('alfred_workflow_data').replace(/[^\/]+\/[^\/]+$/, 'Databases/filecache.alfdb');
		let sql	= `sqlite3 "${db}" &lt;&lt; EOF
SELECT name || IFNULL(altnames, "") || " " || IFNULL(nameChars, "")
FROM files
WHERE path LIKE "%${filePath}"
LIMIT 1
EOF`;
		return a.doShellScript(sql);
	}

	return JSON.stringify({items}, null, 2);
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>98B6500D-C70C-4089-9C82-5DE1381AFBA1</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>[ $cmd = open ] &amp;&amp; open $1 &amp;&amp; exit

id=$(defaults read $1/Contents/Info.plist CFBundleIdentifier)
hs -A -c "hs.application.get('$id'):$cmd()"
[ $cmd = hide ] &amp;&amp; exit 0</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8BA1AE11-A238-474A-B982-DA9E4742D236</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>cmd</key>
					<string>open</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>219C180E-E768-4C55-BEB3-04F80412032A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># Swift Window Switcher

Alfred Workflow for switching between windows or browser/ iTerm tabs.

## Prerequisites

1. To make this workflow work, don't forget to allow Alfred to screen recording (Security &amp; Privacy → Accessibility).

2. This version requires [Hammerspoon](https://github.com/Hammerspoon/hammerspoon). You need to install the app and its command line tool, if you haven't.

    - Install Hammerspoon's cli:

    ```
    hs.ipc.cliInstall()
    ```

## Modifications

- Use nice and neat JSON output.

- In 'window mode', list only windows, including browser windows. Leave the tabs to 'tab mode'.

- Use [Hammerspoon](https://github.com/Hammerspoon/hammerspoon) to manipulate windows and apps, which is more efficient and accurate.

- Use Alfred's result filtering and improve matching strings.

## Credits

&gt; Inspration is taken from [Windows Switcher](https://www.alfredforum.com/topic/9326-a-simple-windows-switcher/) workflow from Emanuele Munafò (kudozz! 🔥).

Modified from [Swift Window Switcher](https://github.com/mandrigin/AlfredSwitchWindows).</string>
	<key>uidata</key>
	<dict>
		<key>11839846-50EA-49D1-90D3-E6ED8B0187B1</key>
		<dict>
			<key>xpos</key>
			<real>785</real>
			<key>ypos</key>
			<real>225</real>
		</dict>
		<key>1258DA14-4ABD-4A02-B83E-284FF8C43AB5</key>
		<dict>
			<key>xpos</key>
			<real>785</real>
			<key>ypos</key>
			<real>225</real>
		</dict>
		<key>1D0B0A92-B043-4A71-A41D-C9DE241FC008</key>
		<dict>
			<key>xpos</key>
			<real>225</real>
			<key>ypos</key>
			<real>345</real>
		</dict>
		<key>219C180E-E768-4C55-BEB3-04F80412032A</key>
		<dict>
			<key>xpos</key>
			<real>225</real>
			<key>ypos</key>
			<real>435</real>
		</dict>
		<key>25DF9855-B87D-4CE7-A3EF-794A57E3FBD3</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>2AF0064B-35F9-4A1B-A05A-70DC5EBCDF74</key>
		<dict>
			<key>xpos</key>
			<real>720</real>
			<key>ypos</key>
			<real>20</real>
		</dict>
		<key>35E6D898-5B6E-4210-BECC-D6DE2CDB0F68</key>
		<dict>
			<key>xpos</key>
			<real>315</real>
			<key>ypos</key>
			<real>225</real>
		</dict>
		<key>37EAB5EB-4D7A-41B6-8EDF-1E9ABAE1165D</key>
		<dict>
			<key>xpos</key>
			<real>225</real>
			<key>ypos</key>
			<real>390</real>
		</dict>
		<key>4366B509-0903-4E06-928F-8A0F3FC02DFF</key>
		<dict>
			<key>xpos</key>
			<real>225</real>
			<key>ypos</key>
			<real>255</real>
		</dict>
		<key>5C1337AD-2107-4886-A96F-B9A992C00EA2</key>
		<dict>
			<key>xpos</key>
			<real>225</real>
			<key>ypos</key>
			<real>150</real>
		</dict>
		<key>5C2AC50F-1061-41A0-A6C5-662AA743365E</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>120</real>
		</dict>
		<key>6A0D4B15-67A1-4A70-8CF1-0511F864B8B4</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>225</real>
		</dict>
		<key>7F7C2A46-F54A-46DE-8CF3-E17DDB1F3998</key>
		<dict>
			<key>xpos</key>
			<real>225</real>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>8BA1AE11-A238-474A-B982-DA9E4742D236</key>
		<dict>
			<key>xpos</key>
			<real>315</real>
			<key>ypos</key>
			<real>405</real>
		</dict>
		<key>8C4FEA1B-48E9-41E1-8913-45DADE62C881</key>
		<dict>
			<key>xpos</key>
			<real>785</real>
			<key>ypos</key>
			<real>120</real>
		</dict>
		<key>98B6500D-C70C-4089-9C82-5DE1381AFBA1</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>405</real>
		</dict>
		<key>9AB03DAC-B3CB-43A0-A22E-FAEAD0F03B15</key>
		<dict>
			<key>xpos</key>
			<real>785</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>BA8766BA-DC73-4580-AB23-69727A05FB88</key>
		<dict>
			<key>xpos</key>
			<real>720</real>
			<key>ypos</key>
			<real>70</real>
		</dict>
		<key>BBE27144-1C88-4DB4-BCF3-B4E7CCE3A14B</key>
		<dict>
			<key>xpos</key>
			<real>580</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>C9E3C1BC-05A1-4F7B-9D83-3E39CACDD328</key>
		<dict>
			<key>xpos</key>
			<real>225</real>
			<key>ypos</key>
			<real>75</real>
		</dict>
		<key>CD59088E-E4A8-4F80-8E23-A9E18AAB1FF5</key>
		<dict>
			<key>xpos</key>
			<real>740</real>
			<key>ypos</key>
			<real>255</real>
		</dict>
		<key>DE26058B-66D8-464C-B116-3C36FC69D3FA</key>
		<dict>
			<key>xpos</key>
			<real>580</real>
			<key>ypos</key>
			<real>120</real>
		</dict>
		<key>E212A519-ADAC-4623-9791-DCE2B0B9858E</key>
		<dict>
			<key>xpos</key>
			<real>930</real>
			<key>ypos</key>
			<real>45</real>
		</dict>
		<key>F5F0C463-C31A-4805-BD9E-1F4C3745FB34</key>
		<dict>
			<key>xpos</key>
			<real>455</real>
			<key>ypos</key>
			<real>120</real>
		</dict>
		<key>FDF986A8-3F3C-43A3-9E4D-41EBDB491C97</key>
		<dict>
			<key>xpos</key>
			<real>315</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>version</key>
	<string>0.4</string>
	<key>webaddress</key>
	<string>https://github.com/twio142/AlfredSwitchWindows</string>
</dict>
</plist>
